@-moz-document url-prefix('chrome://browser/content/browser.xul') {

  #urlbar {
      background:-moz-element(#addon-loadingbar-progressmeter) no-repeat;
      background-size:100% 100%;
  }

  #addon-loadingbar-hbox {
      width:0;
      overflow:hidden;
  }

  #addon-loadingbar-progressmeter {
      background:-moz-field !important;
      -moz-appearance:none !important;
      border:0 !important;
  }

}
